In [146]:
import pandas as pd

pirLirUrl = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=Y2Y5OWU5MjYyZDUxMGU2ZGZmYmFlZjJkZDJlMWE5NzY=&format=json&jsonVD=Y&userStatsId=sungunx/101/DT_1MA0028/2/1/20210412173902&prdSe=Y&newEstPrdCnt=1"
json = pd.DataFrame() 
try:
    json = pd.read_json(pirLirUrl)
except Exception as e:
    print(e)

json

,TBL_NM,ITM_NM_ENG,ITM_ID,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C2_OBJ_NM,C3_OBJ_NM,C2,C1_NM_ENG,...,C1_OBJ_NM_ENG,C2_OBJ_NM_ENG,C3_OBJ_NM_ENG,C3,DT,PRD_SE,C1,C1_NM,C2_NM,C3_NM
0,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,19979.1,A,0,전국,계,계
1,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11252.8,A,0,전국,계,부채있음
2,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL11,1853.3,A,0,전국,계,1천만원 미만
3,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL12,2471.0,A,0,전국,계,1-3천만원 미만
4,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL13,1369.2,A,0,전국,계,3-5천만원 미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL15,1.6,A,39,제주특별자치도,60-64세,7천만원-1억원 미만
1184,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL16,2.9,A,39,제주특별자치도,60-64세,1-2억원 미만
1185,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL17,1.0,A,39,제주특별자치도,60-64세,2-3억원 미만
1186,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,2.3,A,39,제주특별자치도,60-64세,3억원 이상
1187,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.3,A,39,제주특별자치도,60-64세,부채없음

In [ ]:
ㅠㅠ

In [31]:
import pandas as pd

In [32]:
# 1행 82500 2008
# 2행 72500 2010

In [33]:
rowList = []
columnList = []

In [34]:
columnList.append("82500")

In [35]:
columnList.append("2008")

In [36]:
rowList.append(columnList)

In [37]:
columnList = []

In [38]:
columnList.append("72500")

In [39]:
columnList.append("2010")

In [40]:
rowList.append(columnList)

In [41]:
pd.DataFrame(rowList)

       0     1
0  82500  2008
1  72500  2010

In [57]:
#Used to service API connection
import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote

In [ ]:
API_Key = unquote(‘key')
url = “http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev”
queryParams = '?' + urlencode(

    {
        quote_plus('ServiceKey') : API_Key,
        quote_plus('LAWD_CD'): '11110',
        quote_plus('DEAL_YMD'): '201512'
        }
     )
    

 response = requests.get(url+queryParams)
     response.encoding='utf-8'
     xmlobj = BeautifulSoup(resp.text,"lxml-xml")

In [58]:
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")
response.encoding='utf-8'

In [60]:
xmlobj = BeautifulSoup(response.text,"lxml-xml")

In [62]:
response.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    60,000</거래금액><건축년도>1981</건축년도><년>2015</년><도로명>세종대로23길</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>02</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100190</도로명코드><법정동> 당주동</법정동><법정동본번코드>0145</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11700</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>롯데미도파광화문빌딩</아파트><월>12</월><일>22</일><일련번호>11110-12</일련번호><전용면적>149.95</전용면적><지번>145</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   130,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>경희궁2길</도로명><도로명건물본번호코드>00005</도로명건물본번호코드><도로명건물부번호코드>00005</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100005</도로명코드><법정동> 내수동</법정동><법정동본번코드>0110</법정동본번코드><법정동부번코드>0015</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>킹스매너</아파트><월>12</월><일>8</일><일련번호>11110-118</일련번호><전용면적>194.43</전용면적><지번>110-15</지번><지역코드>11110</지역코드><층>6</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   105,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00024</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0071</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁의아침2단지</아파트><월>12</월><일>14</일><일련번호>11110-115</일련번호><전용면적>124.17</전용면적><지번>71</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>   120,000</거래금액><건축년도>2003</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00020</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0095</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁 파크팰리스</아파트><월>12</월><일>24</일><일련번호>11110-107</일련번호><전용면적>146.33</전용면적><지번>95</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>17</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>8</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>18</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>4</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    57,000</거래금액><건축년도>2006</건축년도><년>2015</년><도로명>혜화로3가길</도로명><도로명건물본번호코드>00030</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100544</도로명코드><법정동> 명륜1가</법정동><법정동본번코드>0019</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17000</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>렉스빌</아파트><월>12</월><일>29</일><일련번호>11110-973</일련번호><전용면적>106.98</전용면적><지번>19</지번><지역코드>11110</지역코드><층>3</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    44,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1</일><일련번호>11110-25</일련번호><전용면적>84.8</전용면적><지번>4</지번><지역코드>11110</지역코드><층>18</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item><item><거래금액>    52,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>10</일><일련번호>11110-25</일련번호><전용면적>84.9</전용면적><지번>4</지번><지역코드>11110</지역코드><층>12</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>49</totalCount></body></response>'

In [134]:
rowList = []
columnList = []

In [135]:
columnNameList = []

In [66]:
rows = xmlobj.find_all("item")

In [85]:
eachRow = rows[0]

In [87]:
columns = eachRow.find_all()

In [111]:
eachColumn = columns[0]

In [136]:
# 각 행에 대한 반복문 수행
for j in range(0, len(rows)):
    eachRow = rows[j]

    columns = eachRow.find_all()

    # 컬럼 값 반복문 수행
    for i in range(0, len(columns)):
       eachColumn = columns[i]
       if j == 0:
            columnNameList.append(eachColumn.name)
            
       eachColumnValue = eachColumn.text
       columnList.append(eachColumnValue)

   
    rowList.append(columnList)

    columnList = []

In [137]:
indata = pd.DataFrame(rowList)

In [138]:
indata.columns = columnNameList

In [139]:
indata

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,

In [ ]:
# 첫번째 내부 반복문: 컬럼 값을 전부 담아라
 for i in range(0,len(columns)):

In [ ]:
eachRow = rows[0]

In [ ]:
columns = eachRow.find_all()

In [ ]:
eachColumn = eachColumn.text

In [ ]:
columnList.append(eachColumnValue)

In [92]:
rowList.append(columnList)

NameError: name 'rowLlist' is not defined

In [ ]:
# 첫번째 row를 수집할때 컬럼이름을 반복해서 columnNameList에 담는다
if i == 0:
    columnNameList.append(eachColumn.name)

In [140]:
#Used to service API connection
import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")
response.encoding='utf-8'

In [140]:
xmlobj = BeautifulSoup(response.text,"lxml-xml")

In [140]:
rowList = []
columnList = []
columnNameList = []
rows = xmlobj.find_all("item")

In [147]:
eachRow = rows[0]

In [148]:
eachRow

<item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>

In [149]:
columns = eachRow.find_all()

In [150]:
columns

[<거래금액>    82,500</거래금액>,
 <건축년도>2008</건축년도>,
 <년>2015</년>,
 <도로명>사직로8길</도로명>,
 <도로명건물본번호코드>00004</도로명건물본번호코드>,
 <도로명건물부번호코드>00000</도로명건물부번호코드>,
 <도로명시군구코드>11110</도로명시군구코드>,
 <도로명일련번호코드>03</도로명일련번호코드>,
 <도로명지상지하코드>0</도로명지상지하코드>,
 <도로명코드>4100135</도로명코드>,
 <법정동> 사직동</법정동>,
 <법정동본번코드>0009</법정동본번코드>,
 <법정동부번코드>0000</법정동부번코드>,
 <법정동시군구코드>11110</법정동시군구코드>,
 <법정동읍면동코드>11500</법정동읍면동코드>,
 <법정동지번코드>1</법정동지번코드>,
 <아파트>광화문풍림스페이스본(101동~105동)</아파트>,
 <월>12</월>,
 <일>10</일>,
 <일련번호>11110-2203</일련번호>,
 <전용면적>94.51</전용면적>,
 <지번>9</지번>,
 <지역코드>11110</지역코드>,
 <층>11</층>,
 <해제사유발생일> </해제사유발생일>,
 <해제여부> </해제여부>]

In [140]:
# 각 행에 대한 반복문 수행
for j in range(0, len(rows)):
    eachRow = rows[j]

    columns = eachRow.find_all()

    # 컬럼 값 반복문 수행
    for i in range(0, len(columns)):
       eachColumn = columns[i]
       if j == 0:
            columnNameList.append(eachColumn.name)
            
       eachColumnValue = eachColumn.text
       columnList.append(eachColumnValue)

   
    rowList.append(columnList)

    columnList = []

indata = pd.DataFrame(rowList)

indata.columns = columnNameList

indata