### JSON 데이터

In [2]:
import pandas as pd

pirLirUrl = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=Y2Y5OWU5MjYyZDUxMGU2ZGZmYmFlZjJkZDJlMWE5NzY=&format=json&jsonVD=Y&userStatsId=sungunx/101/DT_1MA0028/2/1/20210412173902&prdSe=Y&newEstPrdCnt=1"
json = pd.DataFrame() 
try:
    json = pd.read_json(pirLirUrl)
except Exception as e:
    print(e)

json

,TBL_NM,ITM_NM_ENG,ITM_ID,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C2_OBJ_NM,C3_OBJ_NM,C2,C1_NM_ENG,...,C1_OBJ_NM_ENG,C2_OBJ_NM_ENG,C3_OBJ_NM_ENG,C3,DT,PRD_SE,C1,C1_NM,C2_NM,C3_NM
0,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,19979.1,A,0,전국,계,계
1,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11252.8,A,0,전국,계,부채있음
2,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL11,1853.3,A,0,전국,계,1천만원 미만
3,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL12,2471.0,A,0,전국,계,1-3천만원 미만
4,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL13,1369.2,A,0,전국,계,3-5천만원 미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL15,1.6,A,39,제주특별자치도,60-64세,7천만원-1억원 미만
1184,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL16,2.9,A,39,제주특별자치도,60-64세,1-2억원 미만
1185,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL17,1.0,A,39,제주특별자치도,60-64세,2-3억원 미만
1186,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,2.3,A,39,제주특별자치도,60-64세,3억원 이상
1187,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.3,A,39,제주특별자치도,60-64세,부채없음

### XML 데이터

In [1]:
import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")
response.encoding='utf-8'

xmlobj = BeautifulSoup(response.text,"lxml-xml")
rowList = []
columnList = []
columnNameList = []
rows = xmlobj.find_all("item")

# 각 행에 대한 반복문 수행
for j in range(0, len(rows)):
    eachRow = rows[j]

    columns = eachRow.find_all()

    # 컬럼 값 반복문 수행
    for i in range(0, len(columns)):
       eachColumn = columns[i]
       if j == 0:
            columnNameList.append(eachColumn.name)
            
       eachColumnValue = eachColumn.text
       columnList.append(eachColumnValue)

   
    rowList.append(columnList)

    columnList = []

indata = pd.DataFrame(rowList)

indata.columns = columnNameList

indata

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,